
 a{
     color: white;
 }
 .icons {

    display: flex;
    justify-content: space-around ;
    flex-direction: row;
    font-size: 35px; 
    
    
} 
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    background-color: rgb(247, 108, 108);
    color: white;
    text-align: center;
}
section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    background-color: whitesmoke;
    margin: 100;
}

li {
    padding-top: 5%;
    color: black;
}


section2 {
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 4%;
    width: 30%;

}

section3 {
     display: flex;
     flex-direction: column;
     padding-left: 50%;
     height: 20%;
     border: solid;
     


    

}